.logo{
    padding: 5px;
    border: 4px ridge #ffd700;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
.logo:hover{
    transform: rotate(360deg);
}
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    background-color: green;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(225,225,225);
    min-width: 160px;
    border: 1px solid #ffd700;
    box-shadow: 0px 4px 8px 0px #ffd700;
    z-index: 1;
    font-family: 'Trebuchet MS';
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: green;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .logo{
    background-color: #ff0000;
  }
p.Header{
    font-size: 45px;
    font-family: 'Trebuchet MS';
    color: rgb(255,255,255);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0px;
    margin-bottom: 50px;
    background-color: rgb(150,150,150);
    text-align: center;
}
.bigHeader{
    font-size: 70px;
    font-family: 'Trebuchet MS';
    color: black;
    text-align: center;
}
p.subHeader{
    font-size: 50px;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    border-left-width: 0px; 
    border-right-width: 0px;
    /*margin-left: 540px;
    margin-right: 540px;
    margin-bottom: 30px;
    border: 2px solid black;*/
}
.verdana{
    font-family: verdana;
}
.gray{
    background-color: rgb(225,225,225);
}
.nomargin{
    margin: 0px;
}
.formbody{
    background-image: url("images/grass-background2.jpeg");
    text-align: center;
    margin-left: 550px;
    margin-right: 150px;
    margin-top: 150px;
    border: 8px ridge rgb(0, 128, 0);
    border-radius: 10px;
    font-family: Courier;
}
.imageleft{
    display: block;
    float: left;
    margin-left: 25px;
    border: 4px ridge black;
}
.imagecenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.Courier{
    font-family: Courier;
}
#submitbutton{
    background-color: black;
    color: white;
    font-family:cursive;
    font-size: 20px;
    margin-top: 20px;
}
#submitbutton:hover{
    background-color: white;
    color: black;
    font-family:cursive;
    font-size: 20px;
    margin-top: 20px;
    transition-property: background-color;
    transition-property: color;
    transition-timing-function: ease-out;
    transition-duration: 0.75s;
}
@keyframes slideinRight{
    from{
        transform: translateX(1000px);
    }
    to{
        transform: translateX(0px);
    }
}
.slideinRight{
    animation-name: slideinRight;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
@keyframes slideinLeft{
    from{
        transform: translateX(-1000px);
    }
    to{
        transform: translateX(0px);
    }
}
.slideinLeft{
    animation-name: slideinLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
@keyframes expand{
    from{
        transform: scale3d(1,1,1);
    }
    to{
        transform: scale3d(1.5,1.5,1);
    }
}
@keyframes expandfrom0{
    from{
        transform: scale3d(0,0,0);
    }
    to{
        transform: scale3d(1,1,1);
    }
}
.pulse{
    --pulseDelay: 0.5s;
    animation: expand var(--pulseDelay) ease-out 2s normal, expand var(--pulseDelay) ease-in 2.5s reverse, 
        expand var(--pulseDelay) ease-out 3s normal, expand var(--pulseDelay) ease-in 3.5s reverse;
}
.growIn{
    animation: expandfrom0 1s ease-out 2s backwards;
}
